* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: rgb(200, 220, 231);
  color: #0f3460;
}


#new-todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  border-radius: 3em;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px 10px rgba(46, 54, 68, 0.03);
  width: 50%;
  margin-left: 250px;
}
#new-todo-form button {
  padding: 10px 15px;
  font-size: 30px;
}
header {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 50px;
  font-size: 30px;
  position: relative;
}
#new-todo-form > * {
  margin: 12px;
}

#list {
  padding: 0;
}

.list-item {
  list-style: none;
}

.list-item-label:hover,
[data-list-item-checkbox]:hover {
  cursor: pointer;
}

.list-item-label:hover > [data-list-item-text] {
  color: #333;
  text-decoration: line-through;
}

[data-list-item-checkbox]:checked ~ [data-list-item-text] {
  text-decoration: line-through;
  opacity: 0.5;
  color: #aaa;
}
[data-button-delete] {
}

form button {
  padding: 8px 18px;
  margin-left: 25px;
  font-size: 35px;
  background-color: transparent;
  border: none;
  /* box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff; */
  /* box-shadow: 20px 20px 40px #929394, -20px -20px 40px #ffffff; */
  /* box-shadow: 5px 5px 10px #d3d3d3, -5px -5px 10px #fafafa; */
  cursor: pointer;
  border-radius: 5px;
  transition: all 500ms;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 12px 0 rgba(31, 38, 135, 0.101);
  backdrop-filter: blur(4px);
  color: #dd387b;
}
form input {
  display: block;
  padding: 14.5px;
  width: 100%;
  margin: 2rem 0;
  color: var(--color);
  outline: none;
  background-color: #9191911f;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  letter-spacing: 0.8px;
  font-size: 15px;
  backdrop-filter: blur(15px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
}
#list li {
  margin-bottom: 20px;
  padding: 3em;
  border-radius: 3em;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px 10px rgba(46, 54, 68, 0.03);
  min-width: 50% !important;
}
img{
  position: absolute;
  z-index: -1;
  height: 150vh;
  top: 0;
  left: 0;
  
}
button:active{
  transform: scale(0.75);
}
button{
  transition: all 200ms !important;
}


ul button {
  transition: all 100ms;
  text-align: center;
  padding: 14px 20px 14px 20px;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  outline: none;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.3);
  color: black;
  box-shadow: 0 8px 12px 0 rgba(31, 38, 135, 0.133);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  /* background: -webkit-linear-gradient(10deg, #dd387b, #74d1e0); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
ul button:hover {
  color: #fff;
  /* background: linear-gradient(10deg,rgba(231,66,124,0.4),rgba(107,206,226,0.4));
box-shadow: 0 2px 12px 0 rgba(231,66,124,0.4);
backdrop-filter: blur( 6px );
  -webkit-background-clip: text;
  -webkit-text-fill-color:rgba(231,66,124,0.4); */
}
ul button:active {
  transform: translatey(1.5px);
}
ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 500ms;
}
ul li span {
  font-size: 30px;
  color: black;
}
.container {
  /* background-color: rgba(255, 255, 255, 0.373); */
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  border: solid 2px transparent;
  background-clip: padding-box;
  /* box-shadow: 10px 10px 10px 10px rgba(46, 54, 68, 0.03); */
  padding: 20px 0;
  display: grid;
  place-items: left;
}
#list:hover > li:not(:hover) {
  opacity: 0.3;
  filter: brightness(0.2) saturate(0) contrast(1.2) blur(2px);
}
#list {
  color: #ededed;
  text-transform: capitalize;
}
.animation {
  transition: transform 900ms;
  transform: translateX(23em);
  opacity: 1;
}

